.c1 { float:left; width:100%; }
.c2 { float:left; width:100%; }
.c3 { float:left; width:30%; }
.c4 { float:left; width:100%; }
.c5 { float:right; width:70%; }
.c6 { float:left; width:100%; }
.c7 { float:left; width:100%;   }